#root {
  .battleDisplay {
    overflow: hidden;
    position: relative;
    height: 768px;
    width: 1024px;
    border: 5px solid aqua;
    display: flex; /* Use flexbox for positioning */
    flex-direction: column;
    justify-content: center; /* Align content to the start of the container (left) */
    .battleSprites {
      margin-top: auto; /* Push to the bottom */
      margin-bottom: auto; /* Push to the bottom */
      display: flex;
      align-items: center; /* Center vertically within the parent */
      justify-content: space-around; /* Align content to the start of the container (left) */
      flex-direction: row;
      .playerSprite {
        min-height: 128px;
        min-width: 128px;
        background: white;
      }
      .enemySprites {
        min-height: 384px;
        min-width: 384px;
        background: black;
      }
    }

    .combatOptions {
      position: absolute; /* Set absolute positioning for combat options */
      bottom: 0; /* Align to the bottom of the container */
      display: flex;
      flex-direction: row;
      min-height: 128px;
      padding: 8px;
      // min-width: 0%;
      max-width: 100%;
      box-sizing: border-box; /* Include padding and border in the width calculation */
      .optionList {
        display: flex;
        flex-direction: column;
        min-height: 128px;
        min-width: 128px;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border: 1px solid red;
          height: calc(128px / 4);
          cursor: pointer;
          // transition: color 0.3s ease; // Optional: Add a transition for a smooth color change
          &:before {
            content: ">";
            position: absolute;
            left: 16px;
            opacity: 0;
            color: wheat;
            transition: opacity 0.3s ease; // Optional: Add a transition for a smooth effect
          }
          &.selected {
            color: blue; // Change the text color as needed
          }
          &:hover:before {
            opacity: 1;
          }
        }
      }

      .combatButtons {
        width: 1024px;
        overflow: scroll;
        border: 1px solid red;
        display: flex;
        align-items: center;
        flex-grow: 1; /* Make it grow and fill the available space */
        button {
          height: 96px;
          width: 128px;
          margin: 16px;
        }
        .weaponList {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .powerList {
          display: flex;
          flex-direction: row;
          align-content: flex-end;
        }
        .itemList {
          display: flex;
          flex-direction: row;
          align-content: flex-end;
        }
        .statList {
          width: 1024px;
          .statBlocks {
            overflow: scroll;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}
