#root {
  .itemScreen {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    .itemShop {
      overflow: hidden;
      border: 5px solid blue;
      min-width: 1024px;
      max-width: 1024px;
      height: 720px;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      .itemCards {
        overflow: scroll;
        min-height: 720px;
        min-width: 768px;
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next row */
        justify-content: space-evenly; /* Distribute space evenly between items */
        .itemCard {
          border: 5px solid aqua;
          margin: 8px;
          display: flex; /* Set display to flex */
          flex-direction: column; /* Stack children vertically */
          justify-content: space-between; /* Distribute space evenly between children */
          min-height: 25%; /* Set a specific height for all item cards */
          max-height: 25%; /* Set a specific height for all item cards */

          width: 768px; /* Set a specific width for all item cards */
        }
      }
      .shopKeeper {
        display: flex;
        min-width: 256px;
        min-height: 720px;
        flex-direction: column;
        .shopKeeperImage {
          background-color: aliceblue;
          min-height: 256px;
          min-width: 256px;
          margin-top: auto; /* Push shop keeper to the bottom */
          margin-left: auto; /* Push shop keeper to the right */
        }
        .shopKeeperTip {
          ul {
            list-style: none; // Remove default bullet points
            padding-left: 0; // Remove default left padding
          }
        }
      }
    }
  }
}
