#root {
  .titleScreen {
    overflow: hidden;
    min-height: 720px;
    max-height: 720px;
    min-width: 1280px; /* Set a maximum width */
    max-width: 1280px; /* Set a maximum width */
    border: 5px solid red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .blinking-button {
    animation: blink 2s infinite; /* Increase the duration to slow down */
  }
}
